# This file explains what information you need listed within your .env file for smoother and safer data flow.

DB_NAME=fleet_monitoring
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432